
.body {
	font-family: "Source Sans Pro", sans-serif;
	padding: 0;
	margin: 0;
	font-size: 20px;
	background: #1D1D1D;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.accordion > input[name="collapse"] {
  display: none;
}

.accordion .content {
  background: #fff;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.accordion label {
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: #b0100c;
      
}

.accordion label:hover,
.accordion label:focus {
  background: #252525;
}
.accordion .handle label:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;
      
}
.accordion > input[name="collapse"]:checked ~ .handle label:before {
  transform: rotate(180deg);
  transform-origin: center;
  transition: 0.4s;
}

.accordion > input[name="collapse"]:checked ~ .content {
  height: 380px;
  transition: height 0.5s;
}
