---
---

@import "jekyll-theme-slate";

$uom-purple: #660099;
$uom-purple-light: #934EB7;
$uom-yellow: #FFCC33;
$uom-grey: #999999;
$inner-width: 1200px;
$body-color: #625D5D;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #cfcfcf; // changed to a brighter hue
$animate: all 0.2s ease-in-out;

* {
 box-sizing: border-box;
}

section {
  display: block;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.pagetitle {
  text-align: center;
  color: $dark;
}

.hr-separator{
  width: 40%;
}

/**
 * Figures
 */
figure > img {
    display: block;
} 

/**
 * Links
 */
a {
    color: lighten(#1e4c89, 5%);
    text-decoration: none;

    &:visited {
        color: darken(#1e4c89, 3%);
    }

    &:hover {
        color: lighten(#1e4c89, 20%);
    }
}




.footer-banner{
  border: 1px solid #b3b3b3;
  padding: 0px;
  border-radius: 25px;
}

.center-cell-item {
    //position: absolute;
    top: 50%;
    left: 50%;
    //-moz-transform: translateX(-50%) translateY(-50%);
    //-webkit-transform: translateX(-50%) translateY(-50%);
    //transform: translateX(-50%) translateY(-50%);
    vertical-align: middle;
    text-align: center;
}


.mainlogo { // e.g. 460px x 460px
   //display: block; //inline-block;
   //overflow: hidden;
   //line-height: 1;
   //vertical-align: middle;
   //flex-shrink: 0;
   //box-shadow: 0 0 0 1px var(--color-avatar-border);
   //border-radius: 50% !important;
   height: auto;
   //width: 100% !important;
   margin: auto;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
   //padding: 20px 0px 10px 0px; /*top-right-bottom-left*/
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
    background: #373737; //#ffffff; // # //#2f3133
}

a:hover, a:focus { 
  text-decoration: none; 
  font-weight: normal; 
}

#secondary_navigation {
    //padding: 10px 0px 10px 0px;
    background-color: #3a87d3; // #000000
    height: 45px;
    //border-bottom: 3px #7b22aa solid;

    a {
        color: #ffffff;
        text-shadow: inherit;
        text-decoration: none;
    }

  a:hover {
    font-weight: normal;
  }
}

#secondary_navigation ul {
    margin: 10px auto 20px;
    width: 90%; //$inner-width;
}

#secondary_navigation ul li.secondary_navigation_item {
    float: left;
    list-style-type: none;
    color: #ffffff;
    padding: 0px 20px 0px 0px;
}

#main_content_wrap {
  flex: 1 100% ;//equivalent to 1 0 auto;
  background: #f0f0f0; // #ffffff;
  border-top: none;

  .inner {
    background: #f0f0f0; // #fff;
    /*padding: 10px 30px;*/
    height: 100%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  //width: 80em;
  text-align: center;
  /*width: 50%;*/
  color: $dark;
  font-weight: 400;
  font-size: 14px;
}


.center-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  //width: 80em;
  text-align: center;
  /*width: 50%;*/
  color: $dark;
  font-weight: 400;
  font-size: 14px;
	a {
	//text-align: center;
 	 /*width: 50%;*/
	  color: $dark;
	  font-weight: 400;
	  font-size: 14px;
		
	 &:link { 
	  	text-decoration: none; 
		}

       	 &:visited { 
	   	text-decoration: none; 
		}

         &:hover { 
	   	text-decoration: none; 
		}
	    
         &:active { 
	  	 text-decoration: none; 
		}
	}
}


.center-img {
  display: block;
  //margin-left: auto;
  //margin-right: auto;
  margin: 10px auto 20px;
  //margin-top: 25px;
  //margin-bottom: 25px;
  //width: 22%;
  //height: 15%; //80em;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  //margin: 20px;
  padding: 0px;
  border: 1px solid #e0e0e0;
  //padding: 20px 0px 10px 0px; /*top-right-bottom-left*/
}


// Logo grid

.logo-grid {
  clear: both;
  //margin-top: 10px;
  text-align: center;
  background: #ffffff;
  //border: 1px solid #b3b3b3;
  padding: 20px 20px 20px 20px; /*top-right-bottom-left*/
  border-radius: 25px;
  margin: auto;
  //margin-left: auto;
  //margin-right: auto;
  max-width: 90%;
}

.logo-grid-item {
  //display: inline-block;
  padding: 10px;
  width: 33%;
  //padding: none !important;
  border: none !important;
  background: none !important;
  -moz-box-shadow: 0px 0px 0px transparent !important;
  -webkit-box-shadow: 0px 0px 0px transparent !important;
  box-shadow: 0px 0px 0px transparent !important;
  max-height: 100px;
	
  .partner-logo {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);

   &:hover {
    filter: none;
    -webkit-filter: none;
    }
  }
}

// Button to the top of the page

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e0e0e0; /* Set a background color */
  color: #0f0f0f; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #3f79cc; /* Add a background on hover */
  color: #f0f0f0; /* Text color */
} 


#footer_wrap {
  flex-shrink: 0;
}

#main_content {
  padding: 0px 30px 0px 0;  /*top-right-bottom-left*/
  flex: 3;
}

.inner {
  max-width: $inner-width;
}


.inner-header {
  max-width: 100%;
}


#posts {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1;
}

// Homepage blocks
.mainblock{
      color:orange;
      font-size:25px;
}


.flex-wrapper {
  display: flex;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.header-tabs {
  z-index: 99;
  float: right;
  padding-top: 30px;
  margin: 0 auto;
  max-width: 90%; //100%90%;
  //@media screen and (max-width: 480px) {
  //  padding-top: 0;
  //}

  .header-tab {
    text-align: center;
    //margin: 0 auto;
    //padding: 0;
    //transition: $animate;
    position: relative;
    //display: inline-block;
    color: #a1a1a1; // #5c5c5c; // #625d5d;// #3d3d3d;
    /*background-color: $uom-purple;*/
    font-size: 18px;
    //box-shadow: 0 0 10px #111;
    //border-bottom-left-radius: 2px;
    //border-bottom-right-radius: 2px;
    padding: 2px;
    margin: 0 20px;
    //margin-left: 10px;
    float: right;
    transition: 0s background-color;
    transition: all .2s ease;
    transition-delay:.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    opacity: 1;
    //margin: 100px auto 0;
    //list-style: none; // NEW
    //display: flex; //NEW
    //flex-direction: column; //NEW
    //justify-content: space-between; //NEW
    //text-align: center; //NEW
    //padding: 0;     
    //max-width: 600px;
    ///display: flex;
    //flex-flow: row nowrap;
    //align-items: center;
    //margin: 0 0 45px;
	  
    @media screen and (max-width: 90%) { // was 90%
      padding: 2px 10px;
      margin: 0 5px;
      // flex-direction: row; //NEW
      
    }
    
    &:hover {
      //cursor: pointer;
     &:hover:before {
	left: 50%;
	    }
      &:hover:after {
        content: "";
        position: absolute;
        bottom: -10px;
       width: 50%;//0px;
	right: 50%;
       height: 5px;
       margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
     opacity: 1;
	color: $dark;
      background-color: darken($dark,10%);
	border-bottom: 1px solid $dark;
   }
 
	  

    //&::after 
	  
    //&:hover {  // NEW section
  //	content: "";
  //	position: absolute;
	//bottom: 0;
	//left: 50%;
	//display: block;
	//background: none repeat scroll 0 0 transparent;
	//height: 2px;
	//width: 0;
	//background: #f0f0f0; //#fff;
	//transition: width 0.3s ease 0s, left 0.3s ease 0s;
 //   } 
	  
  //  &:hover::after { // NEW section
   // 	width: 100%; 
  //  	left: 0; 
   // }
	  
   &:hover {
     text-decoration: none;
     border-bottom: 1px solid $dark; //#3d3d3d
     color: $dark;
     transition-delay:.5s;
     transition: all .2s ease;
     opacity:1;
    }
  }
}

/*.main-nav{
  position:fixed;
  height:30px;
}*/


#project_title {
  z-index: 10;
  margin: 0 20px;
  padding-top: 50px;
  font-size: 24px;
  color: #3d3d3d;
  text-shadow: none;
  display: inline-block;
  vertical-align: top;
  @media screen and (max-width: 480px) {
      padding-top: 0;
  }

  a {
    color: inherit;
    text-shadow: inherit;
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }
}

#header_wrap {
  .inner {
    padding: 5px;
    //background: url('..Ed_DaSH_website_prototyping/images/UKRI-Logo_Horiz-RGB.jpg') top center; /*  */
    background-size: cover;
  }
  background-color: #262626;
  //background-image: url(//.../images/circles.png);
  background-repeat: no-repeat;
  background-position: bottom;
  //border-bottom: 1px solid #eeeeee;
}

.header-logo{
    padding: 0px 20px 0px 0px;
    margin: 0px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

footer {
  .logo-wrap {
    a {
      text-decoration: none;
    }
    .footer-logo {
      height: 40px;
      box-shadow: none;
      border: none;
      vertical-align: top;
      margin-right: 25px;
    }

    .footer-logo-uom {
      height: 60px;
    }
  }
}

//Contact styling

.contact .contact-title {
  position: relative;
  color: #333030;
  font-weight: 400;
  font-size: 14px; // changed from 12px;
  margin: 0 0 5px;
  text-transform: uppercase;
  text-align: center;
}

.contact .contact-title::before {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #515151;
}

.contact .contact-title::after {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #515151;
}

.contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact ul li {
  display: inline-block;
  margin-left: 10px;
}

.contact ul li:first-child {
  margin-left: 0;
}

.contact ul li a {
  color: #515151;
  display: block;
  padding: 5px;
  font-size: 18px;
  -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}

.contact ul li a:hover {
  color: #333030;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}


.contact {
  .contact-title {
    position: relative;
    color: $dark;
    font-weight: 400;
    font-size: 14px; // changed from 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 0;
      background-color: $body-color;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
      background-color: $body-color;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: #d1d1d1;
        display: block;
        padding: 5px;
        font-size: 18px;
        transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        &:hover {
          color: $dark;
          transform: scale(1.2);
        }
      }
    }
  }
}


footer {
  .copyright {
    font-size: 14px;
    text-align: center;
    margin: 0;
    a {
       color: $dark;  
       &:link { 
	  text-decoration: none; 
		}

       &:visited { 
	   text-decoration: none; 
		}

       &:hover { 
	   text-decoration: none; 
		}
	    
       &:active { 
	   text-decoration: none; 
		}
    }
  }
}


footer .copyright {
  font-size: 14px;
  text-align: center;
  color: $dark;
  margin: 0;
      a {
       color: $dark;  
       &:link { 
	  text-decoration: none; 
	}

       &:visited { 
	   text-decoration: none; 
	}

       &:hover { 
	   text-decoration: none; 
	}
	    
       &:active { 
	   text-decoration: none; 
	}
    }
}
// Social

.fa-twitter-square:before {
  content: "\f081";
}

.fa-twitter:before {
  content: "\f099";
}


.fa-facebook-square:before {
  content: "\f082";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.fa-facebook-official:before {
  content: "\f230";
}


.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-github:before {
  content: "\f09b";
}

.fa-github-alt:before {
  content: "\f113";
}


.fa-envelope-square:before {
  content: "\f199";
}

.fa-envelope-open:before {
  content: "\f2b6";
}
.fa-envelope-open-o:before {
  content: "\f2b7";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-copyright:before {
  content: "\f1f9";
}
