

<!doctype html>

<html lang="{{ site.lang | default: "en-GB" }}">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {{ page.title }} </title>
   <link rel="stylesheet" type="text/css" href="/assets/css/style.scss" media="all" />
   <style>
      div {
      padding: 25px 50px 75px 100px;
      text-align:justify;
      }
   </style>
</head>
<body>
   <font face = "arial">
      <!--span style="margin-left:50px; padding:10x, 20px, 20px, 50px; width=80%"-->
      <div>
         {% include banner.html %}
         <h1>
         {{ site.title }}</h2>
         <h2>{{ page.title }}</h2>
         <section>
            {{ content }}
         </section>
         <footer>
            {% include footer.html %}
         </footer>
      </div>
      <!--/span-->
   </font>
</body>
</html>
