

<!doctype html>

<html lang="{{ site.lang | default: "en-GB" }}">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {{ page.title }} </title>
   <link rel="stylesheet" href="/css/style.css" media="all" />
   <style>
      div {
      padding: 10px 50px 5px 100px; /*top-right-bottom-left*/
      text-align:justify;
      width=80%;
      }
      center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      }
   </style>
</head>
<body>
   <font face = "arial">
      <header>
			<div class="container">
				<nav class="main-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/blog.html">Blog</a></li>
					</ul>
				</nav>
				<h1><a href="/">Something<strong>Something</strong></a></h1>
			</div>
		</header>
      <!--span style="margin-left:50px; padding:10x, 20px, 20px, 50px; width=80%"-->
      <div>
         <div class="center"> {% include banner.html %} </div>
         <h1><font color="#000066">{{ site.title }}</font></h1>
         <h2>{{ page.title }}</h2>
         <div class="content">
			{{ content }}
		</div>
         <footer>
		 <div class="center">
           		<a> {% include footer.html %} </a>
		 </div>
         </footer>
      </div>
      <!--/span-->
   </font>
</body>
</html>
